rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'adminayushmedical@gmail.com'
        && request.auth.token.email_verified == true;
    }

    match /settings/{document} {
      allow read: if document == 'store';
      allow write: if isAdmin();
    }

    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
